@import 'vendors/reset.scss';

@import 'config/variables.scss';
@import 'config/medias.scss';
@import 'config/typography.scss';

@import 'blocs/newParty.scss';

.content-wrapper {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.party {
  label[for="url"] {
    margin-right: 16px;
  }

  h3 {
    margin-top: 32px;
  }
}

.items {
  li {
    margin-left: 16px;
  }
}

h1 {
  margin: 50px 0;

  @include medium {
    text-align: center;
  }
}

